/*Variables*/

:root {
	--basic-white: #ffffff;
	--basic-blue: #81b3d2;
	--basic-black: #000000;
	--basic-brown: #766357;
	--basic-dark: #333333;
	--basic-grey: #888888;
	--basic-lightgrey: #eeeeee;
	--basic-light: #F2F2F2;
	--basic-lightblack: #EBEBEB;
	--basic-brightgrey: #E5E5E5;
	--basic-darkblue: #5496BD;
	--basic-cyan: #669EC0;
	--basic-darkbrown: #503E33;
	--basic-chocolate: #604E43;
	--basic-black-rgb: 0, 0, 0;
	--basic-white-rgb: 255, 255, 255;
}

/*Global*/

/*p,
h2,
h3 {
	margin: 0;
}*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;	
}

.page {
	height: 100%;
}

.wrapper {
	position: relative;

	width: 1200px;

	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
	margin: 0 auto;

	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.button {
	display: inline-block;
	vertical-align: top;
}

.page-body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-dark);
	text-transform: uppercase;
	min-height: 100%;
	background-color: var(--basic-lightgrey);
}

/*Header*/

.main-header {
	box-sizing: border-box;
	font-weight: 700;
	width: 1200px;
	background-color: var(--basic-white);
	padding: 15px 72px;
}

/*Main navigation*/

.main-navigation {
	background-color: var(--basic-white);
	position: relative;
}

.main-header-logo {
	top: -15px;
	left: 460px;
	position: absolute;
	z-index: 1;
}

.site-navigation a {
	text-decoration: none;
	color: var(--basic-black);
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-item {
	width: 238px;
}

.menu-item:nth-child(2) {
	margin-right: 104px;
}

.menu-item-info,
.menu-item-photo {
	text-align: left;
}

.menu-item-map,
.menu-item-catalog {
	text-align: right;
}

.site-navigation a:hover {
	color: var(--basic-blue);
}

.site-navigation a:focus {
	color: var(--basic-black);
	opacity: 0.3;
}

/*Main*/

.welcome {
	box-sizing: border-box;
	display: flex;
  justify-content: center;
  align-content: space-between;
  width: 100%;
	height: 509px;
	background-image: url(../images/background.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	margin: 0;
	padding-top: 76px;
	position: relative;
}

.welcome img {
	width: 456.65px;
	height: 350.88px;
}

.welcome::after {
	content: "";
	position: absolute;
	width: 1200px;
	height: 57px;
	background-image: url(../images/shape.svg);
	top: 453px;
}

.text {
	box-sizing: border-box;
	height: 216px;
	vertical-align: bottom;
	text-align: center;
	background-color: var(--basic-white);
	padding-top: 42.5px;
	padding-bottom: 51px;
}

.text h2{
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	margin: 0;
}

.text p{
	margin: 0;
	vertical-align: bottom;
	color: var(--basic-dark);
	margin-top: 43px;
}

/*features*/


.features h3 {
	margin: 0;
}


.features {
	line-height: 21px;
	color: var(--basic-dark);
}

.features-list {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: var(--basic-white);
}

.first-image {
	grid-column-start: 2;
	grid-column-end: -1;
}

.second-image {
	grid-column-start: 1;
	grid-column-end: 3;
}

.features-list h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	text-align: center;
}

.features-text {
	box-sizing: border-box;
	height: 256px;
	padding-top: 47px;
	padding-bottom: 54px;
	background-color: var(--basic-blue);
	color: var(--basic-white);
}

.features-text p {
	text-align: center;
}


.secondary-text {
	box-sizing: border-box;
	height: 256px;
	padding-top: 47px;
	padding-bottom: 54px;
	background-color: var(--basic-lightgrey);
}

.secondary-text p {
	text-align: center;
}

.home::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 72px;
	background-image: url(../images/home.svg);
	top: 60px;
	left: 162px;
}

.burger::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 70px;
	background-image: url(../images/burger.svg);
	top: 61px;
	left: 162px;
}

.present::before {
	content: "";
	position: absolute;
	width: 64px;
	height: 77px;
	background-image: url(../images/present.svg);
	top: 55px;
	left: 162px;
}

.extra-text h3 {
	margin-top: 160px;
	margin-bottom: 25px;
}

.features-item {
	height: 256px;
}

.features-item-extra {
	position: relative;
	box-sizing: border-box;
	height: 330px;
	text-align: center;
	padding-bottom: 82px;
}

.number {
	margin-top: 25px;
	margin-bottom: 23px;
}
/*Searching hotel*/

.searching-hotel {
	position: relative;
	height: 291px;
	background-color: var(--basic-white);
	line-height: 24px;
}

.searching-hotel-main {
	width: 568px;
	height: 233px;
	margin: 0 auto;
	text-align: center;
	padding-top: 58px;
}

.searching-hotel-main p {
	margin-bottom: 45px;
}

.searching-hotel h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	color: var(--basic-black);
	margin: 0;
	margin-bottom: 31px;
}

.searching-hotel-button {
	background-color: var(--basic-brown);
	color: var(--basic-white);
	text-transform: uppercase;
	padding: 31px 137px;
	font-size: 21px;
	font-weight: 700;
	border-style: none;
}

.searching-hotel-button:hover {
	background-color: var(--basic-chocolate);

}

.searching-hotel-button:focus {
	background-color: var(--basic-darkbrown);
	color: rgba(var(--basic-white-rgb), 0.3);
}

.map {
	background-image: url(../images/map.png);
	width: 1200px;
	height: 594px;
}

.map img {
	display: block;
	width: 1200px;
	height: 594px;
}

/*footer*/

.main-footer {
	box-sizing: border-box;
	width: 1200px;
	height: auto;
	position: absolute;
	bottom: 0px;
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	background-color: rgba(var(--basic-white-rgb), 0.85);
	padding-right: 136px;
	padding-left: 136px;
	padding-top: 23px;
	padding-bottom: 36px;
}

.catalog-footer {
	box-sizing: border-box;
	width: 1200px;
	height: 120px;
	bottom: 0px;
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	background-color: rgba(var(--basic-white-rgb), 0.85);
	padding-right: 136px;
	padding-left: 136px;
	padding-top: 23px;
	padding-bottom: 36px;
}

.info {
	font-weight: 700;
	font-size: 21px;
	color: var(--basic-black);
	margin-left: 18px;
}

.info p {
	margin: 0;
}

.info p:first-child {
	margin-bottom: 9px;
}

.info a {
	color: var(--basic-black);
	text-decoration: none;
}


.footer-social-list {
	width: 160px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 13px;
}

.footer-social-list a {
	text-decoration: none;

}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;
	background-color: var(--basic-blue);
}

.social-button:hover {
	background-color: var(--basic-cyan);
}

.social-button:focus {
	background-color: var(--basic-darkblue);
}

.social-button:focus path {
	opacity: 0.3;
}

.footer-copyright {
	display: flex;
	justify-content: space-between;
	height: 33px;
	width: auto;
	justify-self: end;
	font-size: 14px;
	line-height: 26px;
	margin-top: 20px;
	cursor: pointer;
	text-decoration: none;
	color: var(--basic-black);
}

.footer-copyright p {
	margin: 0;
	margin-right: 15px;
}

.footer-copyright:hover path {
	fill: var(--basic-blue);
}

.footer-copyright:focus path {
	fill: var(--basic-grey);
}

/*Popup*/

.modal {
	display: block;
	position: absolute;
	box-sizing: border-box;
	width: 568px;
	height: 395px;
	background-color: var(--basic-white);
	color: var(--basic-black);
	font-weight: 700;
	padding: 55px;
	top: 291px;
	left: 316px;
	transform: translateY(-86px);
	transition: transform 0.5s linear;
	z-index: -1;
}

.modal-show {
	display: block;
	transform: translateY(0);
	z-index: 0;
}

.modal-error {
	animation: shake 0.6s;
}

.searching-form {
	width: auto;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-between;*/
	align-items: baseline;
}

.modal-date {
	box-sizing: border-box;
	display: block;
	width: 342px;
	height: 38px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 13px;
	margin-bottom: 28px;
}

.modal-date::placeholder {
	color: var(--basic-black);
	text-transform: uppercase;
	font-weight: 700;
}

.modal-date-departure {
	margin-bottom: 30px;
}

.calendar-arrival {
	position: absolute;
	width: 21px;
	height: 23px;
	top: 62px;
	left: 483px;
	border-style: none;
	padding: 0;
	margin: 0;
}

.calendar-departure {
	position: absolute;
	width: 21px;
	height: 23px;
	top: 129px;
	left: 483px;
	border-style: none;
	padding: 0;
	margin: 0;
}

.calendar-arrival:hover path,
.calendar-departure:hover path {
	fill: var(--basic-black);
}

.calendar-arrival:focus path,
.calendar-departure:focus path {
	fill: var(--basic-blue);
}

.searching-form label {
	height: auto;
	margin-right: 26px;
}

.calendar-arrival + label {
	width: 91px;
	margin-bottom: 10px;
}

.searching-form label:nth-of-type(2) {
	margin-right: 24px;
}

.searching-form input {
	background-color: var(--basic-light);
	color: var(--basic-black);
	border-style: none;
}

.searching-form input:hover {
	background-color: var(--basic-lightblack);
}

.searching-form input:focus {
	background-color: var(--basic-white);
	outline: var(--basic-brightgrey) solid 2px;
}

.people-amount {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*justify-content: space-between;*/
	align-items: baseline;
	width: 455px;
}

.people-amount label {
	margin-right: 41px;
}

.amount {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 114px;
	height: 38px;
	background-color: var(--basic-light);
}

.amount:first-of-type {
	margin-right: 53px;
}

/*.amount:last-of-type {
	margin-left: 9px;
}*/

.amount input {
	box-sizing: border-box;
	font-weight: 700;
	height: 35px;
	width: 36px;
	padding: 6px 14px;
}


.amount-button {
	position: relative;
	box-sizing: border-box;
	height: 38px;
	width: 39px;
	border-style: none;
	background-color: var(--basic-light);
	color: rgba(var(--basic-white-rgb), 0);
}


.amount-button-minus::before {
	content: "";
	position: absolute;
	display: block;
	width: 12px;
	height: 3px;
	background-color: var(--basic-grey);
	top: 18px;
	right: 14px;
}

.amount-button-plus::before,
.amount-button-plus::after {
	content: "";
	position: absolute;
	display: block;
	width: 12px;
	height: 3px;
	background-color: var(--basic-grey);
	z-index: 1;
	top: 17px;
	left: 12px;
}

.amount-button-plus::after {
	transform: rotate(90deg);
}

.amount-button-plus:hover::after,
.amount-button-plus:hover::before,
.amount-button-minus:hover::before {
	background-color: var(--basic-black);
}

.amount-button-plus:focus::after,
.amount-button-plus:focus::before,
.amount-button-minus:focus::before {
	background-color: var(--basic-blue);
}

.searching-modal-button {
	box-sizing: border-box;
	display: block;
	padding: 17px 196px;
	margin-top: 54px;
	font-size: 21px;
	font-weight: 700;
	background-color: var(--basic-blue);
	color: var(--basic-white);
	border-style: none;
	text-transform: uppercase;
}

.searching-modal-button:hover {
	background-color: var(--basic-cyan);
}

.searching-modal-button:focus {
	background-color: var(--basic-darkblue);
	color: rgba(var(--basic-white-rgb), 0.3);
}

/*Catalog*/

.menu-item-catalog .current {
	color: var(--basic-brown);
}

.main-filter {
	width: 100%;
	box-sizing: border-box;
	padding-left: 72px;
	padding-right: 13px;
	padding-bottom: 7px;
	padding-top: 26.5px;
	height: auto;
	background-color: var(--basic-blue);
	background-image: url(../images/catalog_background.png);
}

.filter {
	display: grid;
	grid-template-columns: 264px 264px 1fr;
	color: var(--basic-white);
	font-size: 16px;
	line-height: 21px;
}

.filter fieldset {
	padding: 0;
	margin: 0;
	border-style: none;
}

.infastructure legend,
.habitation legend {
	margin-bottom: 24px;
}
 
.filter-infastructure-checkbox[disabled] + label::before {
	background-image: url(../images/checkbox-off-dis.svg);
}

.filter-infastructure-checkbox[disabled]:checked + label::before {
	background-image: url(../images/checkbox-on-dis.svg);
}

.filter-infastructure {
	margin: 0;
	padding: 0;
	font-size: 14px;
	list-style: none;
}

.filter-infastructure-item {
	position: relative;
	margin-bottom: 25px;
	margin-left: 40px;
}

.filter-infastructure-item:last-child {
	margin-bottom: 0;
}

.filter-habitation {
	margin: 0;
	padding: 0;
	font-size: 14px;
	list-style: none;	
}

.filter-habitation-item {
	position: relative;
	margin-bottom: 25px;
	margin-left: 40px;
}

.filter-infastructure-item:last-child {
	margin-bottom: 0;
}

input[type="checkbox"] {
	display: none;
}

.filter-infastructure label,
.filter-habitation label {
	display: block;
	position: relative;
	cursor: pointer;
	user-select: none;
}

.filter-infastructure-item label::before,
.filter-habitation-item label::before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	background-image: url(../images/checkbox-off.svg);
	right: 246px;
	top: 0px;
}


.filter-habitation-checkbox:checked + label::before,
.filter-infastructure-checkbox:checked + label::before {
	background-image: url(../images/checkbox-on.svg);
}

.filter-item {
	width: 377px;
	height: 176px;
	justify-self: end;
}


.price-controls {
	position: relative;
	margin-bottom: 19px;
}

.price-controls input {
	width: 158px;
	height: 30px;
	background-color: rgba(var(--basic-white-rgb), 0);
	border: 2px solid var(--basic-white);
	color: var(--basic-white);
	text-align: center;
}

.price-controls::before {
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	background-color: var(--basic-white);
	left: 159px;
	top: 9px;
}

.min-price input {
	border-right: none;
}

.min-price input::placeholder {
	text-transform: uppercase;
	color: var(--basic-white);
}

.max-price input {
	position: relative;
	left: -15px;
	border-left: none;
}

.max-price input::placeholder {
	text-transform: uppercase;
	color: var(--basic-white);
}

.filter-item legend {
	margin-bottom: 10px;
}

.range-filter {
	margin-bottom: 34px;
}

.range-controls {
	position: relative;
}

.scale {
	width: 317px;
	height: 2px;
	background-color: var(--basic-grey);
}

.bar {
	width: 70%;
	height: 2px;
	background-color: var(--basic-white);
}

.toggle {
	position: absolute;
	width: 4px;
	height: 4px;
	border: 8px solid var(--basic-white);
	background-color: var(--basic-grey);
	border-radius: 50%;
	left: 0;
	bottom: -9px;
	cursor: pointer;
}

.toggle:hover {
	transition: border 0.5s easy;
	border: 10px solid var(--basic-white);
}

.toggle-max {
	left: 215px;
}

.show {
	display: block;
	font-size: 16px;
	background-color: rgba(var(--basic-white-rgb), 0);
	border: 2px solid var(--basic-white);
	color: var(--basic-white);
	margin-left: 85px;
	margin-right: 142px;
	padding: 6px 32px;
}

.show:hover {
	background-color: var(--basic-white);
	color: var(--basic-black);
}

.sorting {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 163px  min-content 1fr 40px;
	height: 86px;
	background-color: var(--basic-white);
	padding-right: 73px;
	padding-left: 72px;
	padding-top: 29px;
	padding-bottom: 33px;
}

.sorting  h2 {
	font-size: 21px;
	margin: 0;
	padding: 0;
	margin-right: 30px;
}

.sorting p {
	font-size: 12px;
	margin: 0;
	padding: 0;
	margin-right: 45px;
}

.sorting-link {
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	color: var(--basic-grey);
	border-bottom: 1px dashed var(--basic-blue);
	margin-right: 24px;
}

.sorting-link:hover {
	color: var(--basic-blue);
}

.sorting-link:focus {
	color: var(--basic-black);
	border-style: none;
}

.value-sorting {
	color: var(--basic-blue);
	border-style: none;
}

.decrease-sorting {
	margin-right: 8px;
}

.decInc-links {
	margin-top: 4px;
	margin-left: 6px;
}

.decrease-sorting:hover path,
.increase-sorting:hover path {
	fill: var(--basic-black);
}

.decrease-sorting:focus path,
.increase-sorting:focus path {
	fill: var(--basic-blue);
}

/*Hotels*/

.hotel-list {
	border-top: 1px solid var(--basic-lightgrey);
	padding-top: 30px;
/*padding-left: 73px;
	padding-right: 92px;*/
	background-color: var(--basic-white);
}


.hotel-list ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotel-list-item h3 {
	height: 26px;
	margin: 0;
	padding: 0;
	margin-top: -9px;
}

.hotel-list-item p {
	margin: 0;
	padding: 0;
	}

.hotel-list-item {
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	margin-top: 27px;
	border-bottom: 1px solid var(--basic-lightgrey);
	padding-bottom: 33px;
}

.hotel-list-item:first-child {
	margin-top: 0;
}

.hotel-list-item:last-child {
	margin-bottom: 0;
}

.hotel-list-item img {
	width: 135px;
	height: 90px;
	margin-left: 73px;
}

.hotel-heading {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.hotel-value {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 180px;
	margin-bottom: 11px;
	margin-right: 12px;
	margin-top: 10px;
}

.description {
	margin-left: 29px;
}

.hotel-heading a {
	color: var(--basic-black);
	text-decoration: none;
}

.hotel-heading a:hover {
	color: var(--basic-blue);
}

.hotel-heading a:focus {
	color: rgba(var(--basic-black-rgb), 0.3);
}

.more-detailed {
	padding: 6px 17px;
	background-color: var(--basic-blue);
	text-decoration: none;
	color: var(--basic-white);
	margin-right: 1px;
	font-weight: 700;
}

.book {
	padding: 6px 20px;
	background-color: var(--basic-brown);
	text-decoration: none;
	font-weight: 700;
	color: var(--basic-white);
}

.more-detailed:hover {
	background-color: var(--basic-cyan);
}

.more-detailed:focus {
	background-color: var(--basic-darkblue);
	color: rgba(var(--basic-white-rgb), 0.3);
}

.book:hover {
	background-color: var(--basic-chocolate);
}

.book:focus {
	background-color: var(--basic-darkbrown);
	color: rgba(var(--basic-white-rgb), 0.3);	
}

.rating {
	position: relative;
	justify-self: end;
	width: 110px;
	height: 27px;
	background-color: var(--basic-lightgrey);
	text-align: center;
	top: 65px;
	right: 73px;
}

.rating::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 17px;
	background-image: url(../images/star.svg);
	top: -66px;
	left: 33px;
}

.hotel-list-item:nth-child(2) .rating::before {
	content: "";
	position: absolute;
	width: 56px;
	height: 17px;
	background-image: url(../images/star.svg);
	top: -66px;
	left: 52px;
}

.hotel-list-item:nth-child(3) .rating::before{
	content: "";
	position: absolute;
	width: 37px;
	height: 17px;
	background-image: url(../images/star.svg);
	top: -66px;
	left: 76px;
}

/*Animations*/

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}